<h1>Welcome to I am Moving Page</h1>
<ul>
  <%if (user_signed_in?)%>
    <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
    <li><%=link_to 'create movement',new_movement_path %></li>
    <li><%=link_to 'My Movements', movements_path%></li>
    <%@moves.each do |move| %>
      <div>
        <ul>
          <li><b><%= move.user.email%></b> is Moving From <b><%= move.moving_from%></b> To <b><%= move.moving_to %></b> On <b><%= move.end_date %></b></li>
        </ul>
      </div>
    <% end %>
  <% else %>
    <li><%= link_to 'Registration', new_user_registration_path %></li>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
  <%end%>
</ul>
